* {
  box-sizing: border-box;
}

.container {
  background: #fffef8;
  margin: 0 auto;
  max-width: 960px;
}

/**** BASIC TYPOGRAPHY ****/
h1, h2, h3, button, a, span, p, .play-again {
  font-family: 'Quicksand', sans-serif;
  color: #23252B;
}

h1, h2, h3, .start-area button, .center-dot span, .play-again {
  font-weight: bold;
}

a {
  font-size: 20px;
  color: #f45b69;
}

a:hover {
  color: #d3114d;
}

button {
  cursor: pointer;
}

button:hover {
  background: #7ddf64!important;
}

/**** HEADER AREA ****/

header {
  text-align: center;
  height: 71.27px;
}

h1 {
  font-size: 30px;
  margin-top: 27%;
  width: 59.5%;
}

h3 {
  font-size: 18px;
  width: 19.5%;
}

h1 span {
  display: inline-block;
  opacity: 0;
}

.o {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  /*border: solid 1px black;*/
}

.red {
  background: #f45b69;
}
.blue {
  /*background: #3e92cc;*/
  background: #7ddf64;
}
.yellow {
  background: #FFC914;
}

header h3, header h1 {
  display: inline-block;
}

.high-score-div {
  text-align: left;
}

.lives {
  text-align: right;
  display: inline-block;
  color: #f45b69;
}


/**** BODY AREA ****/

/**** START ****/

.start-area {
  display: none;
  padding-left: 0!important;
  padding-right: 0!important;
  -webkit-animation-duration: 1.3s;
}

.start-area button, .start-area a {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.start-area button, .play-again {
  font-size: 30px;
  padding: 15px 50px;
  border-radius: 4px;

  background: white;
  border: solid 3px black;
}

.start-area a {
  padding-top: 15px;
}

/**** GAME ****/
.game-on {
  display: none;
}

.game-area {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

/* OTHER OPTIONS DIV */
.other-area {
  max-width: 80%;
  margin: 0 auto;
  padding-left: 0!important;
  padding-right: 0!important;
  text-align: center;
}

.other-area button, .instructions-area button {
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 4px;
  border: solid 2px black;
  background: white;
}

.pause-div, .instructions-link {
  display: inline-block;
  padding: 0 20px;
  width: 150px;
}

.instructions-link a {
  font-size: 15px;
}

/* GAME BOARD */

.game-board {
  background: white;
  position: relative;
  border: solid 3px black;
  border-radius: 4px;
  margin: 0 auto;
}

.center-dot {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  /*background: gold;*/
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-dot span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bubble {
  display: inline-block;
  /*background: #f45b69;*/
  padding: 10px 10px;
  border-radius: 50%;
  position: fixed;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
}

/**** INSTRUCTIONS ****/

.instructions-area {
  display: none;
  text-align: center;
  padding-left: 0!important;
  padding-right: 0!important;
}

h2 {
  font-size: 25px;
}

.row {
  text-align: left;
  padding: 20px 5%;
}

.instructions p {
  display: inline-block;
}

.number {
  width: 10%;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.color-red {
  color: #f45b69;
}
.color-blue {
  color: #7ddf64;
}
.color-yellow {
  color: #FFC914;
}

.text {
  width: 89%;
  padding-left: 5%;
  font-size: 25px;
}

/**** GAME OVER ****/
/*GAME OVER STYLING*/
.game-over h2 {
  font-size: 40px;
  /*line-height: 600px;*/
}

.game-over {
  display: none;
  text-align: center;
  /*height: 650px;*/
  /*padding-top: 220px;*/
}

.game-over h2, .game-over div {
  /*padding: 20px 30px;*/
}

.play-again {
  display: none;
  margin-top: 30px;
  /*display: inline-block;*/
  cursor: pointer;
}

/**** MEDIA QUERIES ****/

@media only screen and (max-width: 630px) {
  .other-options, .other-area {
    padding-left: 10px!important;
    padding-right: 10px!important;
  }

  /*header {
    height: 100px;
  }*/

  h1 {
    font-size: 25px;
    width: 40.5%;
  }

  header h3 {
    width: 28.5%;
    font-size: 15px;
  }

  .other-options a {
    font-size: 15px;
  }

  /*INSTRUCTIONS AREA*/
  .number {
    font-size: 30px;
  }

  .text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 530px) {
  h1 {
    font-size: 20px;
    width: 58.5%;
  }

  header h3 {
    width: 19.5%;
    font-size: 15px;
  }

  .lives span {
    font-size: 20px;
  }

  .pause-div, .instructions-link {
    width: 110px;
  }
}
