* {
  box-sizing: border-box;
}

.container {
  background: #fffef8;
  background: white;
  margin: 0 auto;
  max-width: 960px;
}

/**** BASIC TYPOGRAPHY ****/
h1, h2, h3, button, a, span, p, .play-again, i {
  font-family: 'Quicksand', sans-serif;
  color: #23252B;
}

h1, h2, h3, .start-area button, .center-dot span, .play-again {
  font-weight: bold;
}

a {
  font-size: 20px;
  color: #f1592a;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

i:hover {
  color: #f1592a;
}

/**** HEADER AREA ****/

header {
  text-align: center;
  height: 12vh;
  max-width: 600px;
  margin: auto;
}

h1 {
  font-size: 30px;
  margin-top: 27%;
  width: 59.5%;
}

h3 {
  font-size: 18px;
  width: 19.5%;
}

h1 span {
  display: inline-block;
  opacity: 0;
}

.o {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  /*border: solid 1px #23252B;*/
}

.red {
  background: #f4ee34;
}
.blue {
  background: #15a7a4;
}
.yellow {
  background: #f1592a;
}

header h3, header h1 {
  display: inline-block;
}

.high-score-div {
  text-align: left;
}

.lives {
  text-align: right;
  display: inline-block;
  color: #ed1b24;
}


/**** BODY AREA ****/

/**** START ****/

.start-area {
  display: none;
  padding-left: 0!important;
  padding-right: 0!important;
  -webkit-animation-duration: 1.3s;
}

.start-area button, .start-area a {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.start-area button, .play-again {
  font-size: 30px;
  padding: 15px 50px;
  border-radius: 4px;

  background: white;
  border: solid 3px #23252B;
}

.start-area a {
  padding-top: 15px;
}

/**** GAME ****/
.game-on {
  display: none;
}

.game-area {
  padding-top: 0!important;
  padding-bottom: 0!important;
  max-width: 600px;
  margin: auto;
  /*display: block;*/
}

/* OTHER OPTIONS DIV */
.other-area {
  max-width: 80%;
  margin: 0 auto;
  padding-left: 0!important;
  padding-right: 0!important;
  text-align: center;
}

.other-area button, .instructions-area button {
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 4px;
  border: solid 2px #23252B;
  background: white;
}

.pause-div, .instructions-link, .sound-on-off {
  display: inline-block;
  padding: 0 20px;
  width: 140px;
}

.instructions-link a {
  font-size: 15px;
}

/* GAME BOARD */

.game-board {
  background: white;
  position: relative;
  border: solid 3px #23252B;
  border-radius: 4px;
  margin: 0 auto;
}

.center-dot {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-dot span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bubble {
  display: inline-block;
  padding: 10px 10px;
  border-radius: 50%;
  position: fixed;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
}

/**** INSTRUCTIONS ****/

.instructions-area {
  display: none;
  text-align: center;
  padding-left: 0!important;
  padding-right: 0!important;
}

h2 {
  font-size: 25px;
}

.row {
  text-align: left;
  padding: 20px 5%;
  position: relative;
  height: 100px;
}

.instructions p {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /*padding-left: 5%;*/
}

.number {
  width: 10%;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.color-red {
  color: #f1592a;
}
.color-blue {
  color: #15a7a4;
}
.color-yellow {
  color: #f4ee34;
}

.text {
  width: 89%;
  padding-left: 105px;
  font-size: 25px;
}

/**** GAME OVER ****/
/*GAME OVER STYLING*/
.game-over h2 {
  font-size: 40px;
  /*line-height: 600px;*/
}

.game-over {
  display: none;
  text-align: center;
  padding-left: 0!important;
  padding-right: 0!important;
}

.game-over h2, .game-over div {
  /*padding: 20px 30px;*/
}

.play-again {
  display: none;
  margin-top: 30px;
  /*display: inline-block;*/
  /*cursor: pointer;*/
}

/**** MEDIA QUERIES ****/

@media only screen and (max-width: 630px) {
  .other-options, .other-area {
    padding-left: 10px!important;
    padding-right: 10px!important;
  }

  h1 {
    font-size: 25px;
    width: 40.5%;
  }

  header h3 {
    width: 28.5%;
    font-size: 15px;
  }

  .other-options a {
    font-size: 15px;
  }

  /*INSTRUCTIONS AREA*/
  .row {
    height: 70px;
  }

  .number {
    font-size: 30px;
  }

  .text {
    font-size: 16px;
    padding-left: 65px;
  }

  /*GAME OVER AREA*/
  .play-again {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media only screen and (max-width: 530px) {
  .pause-div, .instructions-link {
    width: 96px;
    padding: 0 5px;
  }

  .sound-on-off {
    width: 20px;
    padding: 0 5px;
  }

  .pause-div button {
    padding: 3px;
  }
}

@media only screen and (max-width: 530px) {
  .high-score-div {
    display: none!important;
  }

  h1 {
    font-size: 20px;
    width: 72.5%;
  }

  .o {
    width: 11px;
    height: 11px;
  }

  header h3 {
    width: 25.5%;
  }

  .lives span {
    font-size: 16px;
  }

  .other-area {
    margin: 0 auto;
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .pause-div, .instructions-link {
    width: 96px;
    padding: 0 5px;
  }

  .sound-on-off {
    width: 20px;
    padding: 0 5px;
  }

  .pause-div button {
    padding: 3px;
  }
}
