* {
  box-sizing: border-box;
}

body {
  /*THIS MAX WIDTH PROPERTY IS NOT WORKING*/
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
}

p {
  /*display: none;*/
  display: inline-block;
  padding: 30px;
}

p:nth-child(2) {
  display: none;
}

.game-board {
  background: #eeeeee;
  width: 80%;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.borders {
  background: #bdc3c7;
  text-align: center;
  width: 90%;
  height: 650px;
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 10%);
}

.start-button {
  display: inline-block;
  /*display: none;*/
  background: red;
  text-align: center;
  padding: 20px 30px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-dot {
  /*display: inline-block;*/
  display: none;
  margin: 0 auto;
  background: red;
  text-align: center;
  padding: 10px 10px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bubble {
  display: inline-block;
  background: red;
  padding: 10px 10px;
  border-radius: 50%;
  position: fixed;
  z-index: 0;
  overflow: hidden;
}
